*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: #112115;
    display : flex;
    flex-direction : row;
}

nav{
    width: 20%;
    height: 100vh;
    background-color: #112115;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 30px;
    border-right-width: 1px;
    border-right-style: solid;
    border-color: #484848;
}
nav a{
    text-decoration: none;
    width: 100%;
    display: flex;
    justify-content: center;
}
nav a button{
    width: 80%;
    height: 50px;
    margin-bottom: 20px;
    background-color: #112115;
    font-size: 18px;
    border: none;
    border-radius: 50px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
}