*{
    margin: 0;
    padding: 0;

}

body{

    background-color: #102216;
    display:flex;
    flex-direction : row;
 
}

/* ____________________________________________________left image section css_________________________________________________________ */

#left_img{
    width: 750px;
    height:773px;
}

#right_content{
    display: flex;
    flex-direction: column;
}

/* ____________________________________________________heading section css_________________________________________________________ */

#right_content h1{
    color: white;
    font-size: 50px;
    margin-top: 50px;
    margin-left: 50px;
    width: 300px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

/* ____________________________________________________paragraph section css_________________________________________________________ */

#pera {
    color: white;
    font-size: 15px;
    margin-top: 20px;
    margin-left: 50px;
    width: 500px;
    line-height: 1.5;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}


/* ____________________________________________________keypoints section css_________________________________________________________ */
.keypoints{
    color: white;
    margin-top: 50px;
    margin-left: 50px;
    line-height: 1.8;
    display:flex;
    flex-direction: row;
    gap :20px;
}

/* ____________________________________________________keypooint icons section css_________________________________________________________ */
.keyicons{
   background-color: #0b3728;
    width: 50px;
    height: 50px;
    border-radius: 50%;
}

.keyicons img{
    width: 30px;
    height: 30px;
    margin-top: 10px;
    margin-left: 10px;
}


/* ____________________________________________________keypoint content section css_________________________________________________________ */

.keycontent{
    display: flex;
    flex-direction: column;
    margin-left: 10px;
    gap: 0px;
}

.keycontent h4{
    font-size: 18px;
    margin-bottom: 5px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

}

/* ____________________________________________________button section css_________________________________________________________ */
button{
    width: 300px;
    height: 50px;
    background-color: #2acb77;
    color: white;
    border: none;
    border-radius: 25px;
    margin-left: 250px;
    margin-top: 50px;
    font-size: 18px;
    cursor: pointer;
}